.nosso_numeros{
    padding-bottom: 7em;
}

.info_nossos_numeros{
    display: flex;
    justify-content: space-between;

    gap: 1em;
}

.numeral_lista_info{
    font-size: 60px;
    font-weight: 600;
    color: var(--botao-texto-destaque);

    padding-bottom: 0.4em;
}

.titulo_lista_info{
    font-size: 18px;
    font-weight: 500;
    color: var(--texto-titulo);

    padding-bottom: 0.4em;
}

.texto_lista_info{
    font-size: 16px;
    font-weight: 400;
    color: var(--texto-normal);

    line-height: 1.4em;
}